<!doctype html>
<html lang="en">

<head>
    <title>云测试平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/TestPlatform/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/TestPlatform/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/static/TestPlatform/css/demo.css">
    <!--  SweetAlert  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/static/TestPlatform/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon.ico">
    {% block css %}

    {% endblock %}

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="/platform">
                <img src="/static/timg2.jpg" style="height: 20px;width: 139px;" alt="Klorofil Logo"
                     class="img-responsive logo">
            </a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth">
                    <i class="lnr lnr-arrow-left-circle"></i>
                </button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/media/{{ request.user.avatar }}" class="img-circle" alt="Avatar">
                            <span>{{ request.user.username }}</span> <i class="icon-submenu lnr lnr-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/home/"><i class="lnr lnr-user"></i> <span>个人中心</span></a></li>
                            <li><a href="/message/"><i class="lnr lnr-envelope"></i> <span>消息通知</span></a></li>
                            <li><a href="/settings/"><i class="lnr lnr-cog"></i> <span>设置</span></a></li>
                            <li><a href="/logout/"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/platform" class=""><i class="lnr lnr-home"></i> <span>主页</span></a></li>
                    <li>
                        <a href="#baseinfo" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i>
                            <span>基础信息</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="baseinfo" class="collapse ">
                            <ul class="nav">
                                <li><a href="/platform/project/" class="">项目管理</a></li>
                                <li><a href="/platform/env/" class="">测试环境管理</a></li>
                                <li><a href="/platform/interface/" class="">接口管理</a></li>
                                <li><a href="/platform/case/" class="">用例管理</a></li>
                                <li><a href="/platform/plan/" class="">测试计划管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#system" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>系统设置</span>
                            <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="system" class="collapse ">
                            <ul class="nav">
                                <li><a href="/platform/sign/" class="">签名方式</a></li>

                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                {% block crumbs %}
                    <h1>功能完善中.....</h1>
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer class="antd-pro-components-global-footer-index-globalFooter">
            <div class="antd-pro-components-global-footer-index-links">
                <a title="github" target="_blank" href="https://github.com/DeyouKong">
                    <i aria-label="图标: github" class="anticon anticon-github">
                    <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="github" width="1em" height="1em"
                         fill="currentColor" aria-hidden="true">
                        <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
                    </svg>
                    </i>
                </a>
            </div>
            <div class="antd-pro-components-global-footer-index-copyright">Copyright&nbsp;&nbsp;
                <i aria-label="图标: copyright" class="anticon anticon-copyright">
                    <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="copyright" width="1em" height="1em"
                        fill="currentColor" aria-hidden="true">
                        <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372zm5.6-532.7c53 0 89 33.8 93 83.4.3 4.2 3.8 7.4 8 7.4h56.7c2.6 0 4.7-2.1 4.7-4.7 0-86.7-68.4-147.4-162.7-147.4C407.4 290 344 364.2 344 486.8v52.3C344 660.8 407.4 734 517.3 734c94 0 162.7-58.8 162.7-141.4 0-2.6-2.1-4.7-4.7-4.7h-56.8c-4.2 0-7.6 3.2-8 7.3-4.2 46.1-40.1 77.8-93 77.8-65.3 0-102.1-47.9-102.1-133.6v-52.6c.1-87 37-135.5 102.2-135.5z"></path>
                    </svg>
                </i>2018-2020&nbsp;&nbsp;质量管理部
            </div>
        </footer>
    </div>

</div>

<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/TestPlatform/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/TestPlatform/scripts/klorofil-common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="/static/TestPlatform/scripts/deleteButton.js"></script>

<script>
    $(document).ready(function () {
        var a_name = $("a.this").text();
        var page_name = $("a.this-page").text();
        if (a_name) {
            $("span:contains(" + a_name + ")").parent('a').removeClass("collapsed");
            $("span:contains(" + a_name + ")").parent('a').addClass("active");
            if (page_name) {
                $("a:contains(" + page_name + ")").parent('li').parent('ul').parent('div').removeClass("collapse");
                $("a:contains(" + page_name + ")").parent('li').parent('ul').parent('div').addClass("collapse in");
                $("a:contains(" + page_name + ")").addClass("active");
            }
        }
    });
</script>
{% block javascript %} {% endblock %}
</body>

</html>
