<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- 加上下面的语句就可以适配移动端，否则不适配，会出现错乱或者滚动条 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/TestPlatform/css/login_register.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon.ico">

    <style>
        body {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <form class="form-horizontal col-md-6 col-md-offset-3 login-form">
            {% csrf_token %}
            <h1 style="text-align: center; padding: 30px">欢迎登录</h1>
            <div class="form-group" style="padding-top:15px">
                <div class="col-md-8 col-md-offset-2">
                    <input required maxlength="16" type="text" class="form-control" id="username" name="username"
                           placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group" style="padding-top:15px">
                <div class="col-md-8 col-md-offset-2">
                    <input required minlength="6" maxlength="16" type="password" class="form-control" id="password"
                           name="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group" style="padding-top:15px">
                <div class="col-md-8 col-md-offset-2">
                    <!-- 放置极验的滑动验证码 -->
                    <div id="popup-captcha" style="width: 100%; height: 100%"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button type="button" class="btn btn-primary btn-block" id="login-button">登录</button>
                    <span class="login-error"></span>
                </div>
            </div>
        </form>
        <div class="login-footer col-md-8 col-md-offset-2">
            <div class="ajax-error-box" style="padding-bottom:10px">
                <div class="ajax-error login-error"></div>
            </div>
            <a href="" style="float: left;">忘记密码</a>
            <a class="antd-pro-pages-user-login-register" href="/register/">注册账户</a>
        </div>

    </div>
</div>

<script src="/static/jquery/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script>
    $("#login-button").click(function () {
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url: "/login/",
            type: "post",
            dataType: "json",
            data: {
                "username": username,
                "password": password,
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (data) {
                console.log(data);
                if (data.status) {
                    // 有错误，在页面上提示
                    $(".login-error").text(data.msg);
                } else {
                    // 登陆成功
                    location.href = data.msg;
                }
            }
        })
    });

    // 当input框获取焦点时将之前的错误清空
    $("#username,#password").focus(function () {
        // 将之前的错误清空
        $(".login-error").text("");
    });

</script>

</body>
</html>