a{
    text-decoration: none;
}

/*登陆页面的css样式*/
.container{
    margin-top: 40%;
}
.login-form{
    margin-top: 70px;
}

.login-error{
    color:red;
}

.valid-img{
    height: 35px;
    width: 220px;
}

/*注册页面的自定义css样式*/
.reg-form{
    margin-top: 70px;
}

/* 头像的尺寸 */
#avatar-img{
    width: 80px;
    height: 80px;
}


/* 博客主页面 自定义样式 */
.author-img{
    width: 80px;
    height: 80px;
}

.article-footer span {
    margin-right: 15px;
}

.article-footer {
    margin-top: 10px;
}


/* 个人博客主页样式 */
.header {
    height: 50px;
    width: 100%;
    color: white;
    background-color: #0066cc;
    /*个人主题放到个人的css样式文件中*/
    /*text-align: center;*/

}

.header p {
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
}

.container{
    margin-top: 40px;
}

.article p {
    font-size: 18px;
}


/* 点赞/踩 开始 */
.diggit {
    float: left;
    width: 46px;
    height: 52px;
    background: url(/static/img/up.gif) no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}
/* 点赞/踩 结束*/

.buryit{
    float: left;
    width: 46px;
    height: 52px;
    background: url(/static/img/downdown.gif) no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}